In [1]:
# Biblotecas de manipulação de dados
import numpy as np
import pandas as pd
# Bibliotecas de visualização
import seaborn as sns
import matplotlib.pyplot as plt
# Testes estatísticos
from scipy.stats import ttest_ind
# Bibliotecas Locais
from carga import *
from tratamentos import *
from categorizacao import *

from sklearn.model_selection import train_test_split

pfEnade = doCargaTodos('microdados_enade_2019.txt')
#pfEnade = doCarga('microdados_enade_2019.txt')
# TRATAMENTOS 
pfEnade = doIdade(pfEnade)
pfEnade = doNota(pfEnade)
pfEnade = doVazios(pfEnade)
pfEnade = doPublicoPrivada(pfEnade)
pfEnade = doHumanasExatas(pfEnade)
pfEnade = doRenda(pfEnade)
pfEnade = doMigracao(pfEnade)
# TRATAMENTOS - Dicionários
pfEnade = doRenda(pfEnade)
pfEnade = doEscolaridade(pfEnade)
pfEnade = doCategoricos(pfEnade)

In [2]:
pflixo = doAjustado(pfEnade)
pflixo.head()

,BomAluno,CO_REGIAO_CURSO,Jovem,Migrado,Solo,Exatas,QE_I23CAT,QE_I08CAT,Sustento,Sexo
91106,0,2,1,0,1,0,0,4,1,0
121035,0,3,1,0,0,0,1,3,0,0
86634,0,2,0,0,1,0,1,1,0,1
101699,0,3,0,0,1,0,1,3,0,1
97020,0,3,0,0,1,0,1,3,0,1

In [3]:
pfEnade['QE_I08CAT'].value_counts() # e veja a distribuição . Se estiver muito desbalanceado, tem que balancear

2    24431
3    21001
5    17460
6    14574
1    13802
4    13796
7     3495
Name: QE_I08CAT, dtype: int64

In [4]:
pfEnade['BaixaRenda'].value_counts()

0    70326
1    38233
Name: BaixaRenda, dtype: int64

In [5]:

# BONS ALUNOS
#pfBom = pfEnade.query('BomAluno = 1')
# OUTROS ALUNOS
#pfRum = pfEnade.query('BomAluno = 0')

# CONTAR CLASSES
count_class_0, count_class_1 = pfEnade['BomAluno'].value_counts()# pfEnade.target.value_counts()
# Divide by class
df_class_0 = pfEnade[pfEnade['BomAluno'] == 0]
df_class_1 = pfEnade[pfEnade['BomAluno'] == 1]
df_class_0_under = df_class_0.sample(count_class_1)
dfAjustado = pd.concat([df_class_0_under, df_class_1], axis=0)

dfAjustado['BomAluno'].value_counts() 
# print('Random under-sampling:')
#print(df_test_under.target.value_counts())
#df_test_under.target.value_counts().plot(kind='bar', title='Count (target)',color = ['#1F77B4', '#FF7F0E']);

0    53336
1    53336
Name: BomAluno, dtype: int64

In [6]:
# Criar um novo campo BOM 
# 'CO_CATEGAD'  - Categórico - NADA A FAZER
# 'CO_GRUPO'    - Categórico - NADA A FAZER
# 'TP_SEXO'     - Categórico - NADA A FAZER
# 'ANO_FIM_EM'  - NORMALIZADO
# 'ANO_IN_GRAD' - NORMALIZADO
# 'QE_I08'      - Categórico - TRATADO
# 'QE_I16'      - Categórico - NADA A FAZER - 99 = ESTRANGEIRO
# 'QE_I17'      - Categórico - NADA A FAZER
# 'QE_I04'      - Categórico - NADA A FAZER
# 'QE_I05'      - Categórico - NADA A FAZER
# 'CO_UF_CURSO' - Categórico - NADA A FAZER
# 'NT_GER'      - NORMALIZADO
# 'QE_I23'      - Categórico - NADA A FAZER
# 'QE_I07'      - Categórico - 


# BomAluno #
# Publica     -0.008140375468443534
# Tempo       -0.0056554919143847185 
# BaixaRenda  -0.008845247217803975
# QE_I23CAT   -0.007114004428688395  horas dedicou aos estudos
# Exatas       0.011938251686242905
# Familia     -0.0024920997772955315
# NU_IDADE     -0.019972496744919247
# CO_REGIAO_CURSO  0.006099003402017071

# Publica #
# BomAluno    -0.010162778519049067
# Tempo       -0.09738447258175284 
# BaixaRenda  -0.13486876868123468
# QE_I23CAT   -0.1353703570106511 
# Exatas       0.13023873370153055 
# Familia      0.13824793681421685
# NU_IDADE     0.08922957351915316
# CO_REGIAO_CURSO  -0.030309285147768712

# BomAluno #
# Publica       -0.22588985181090404, 0.0
# Tempo         -0.06072271814398024 
# BaixaRenda    0.1780600026426546
# QE_I23CAT     -0.15792681809833836  horas dedicou aos estudos
# Exatas        0.08767358428768886
# Familia       -0.08935190808224927
# NU_IDADE      -0.12811083229020462
# CO_REGIAO_CURSO  0.057026041132231246

# BomAluno # AJUSTADO
# Publica       -0.22588985181090404, 0.0
# Tempo         -0.06319841811379118 
# BaixaRenda    0.1408383670390131
# QE_I23CAT     -0.1677376764426451  horas dedicou aos estudos
# Exatas        0.08940482401535141
# Familia       -0.09275717382254631
# NU_IDADE      -0.13719553638364812
# CO_REGIAO_CURSO  0.05901777166108786
# Migrado       0.043418457133967366
# RecemFormado
# Solo          -0.14238685189558453
# Jovem

In [17]:
from scipy import stats
y = dfAjustado['Publica']
X = dfAjustado['Sexo']

#b = np.arange(7)
#print(a)
#print(b)
stats.pearsonr(X, y) # Coeficiente, p-value

(-0.112819381915011, 4.1497984705238784e-299)

In [ ]:
BomAluno\\0.23361602558231145\\0.0
CO_REGIAO_CURSO\\0.046896248430586526\\5.214653008964321e-53
Jovem\\0.03865960726977642\\1.4234024023466744e-36
Migrado\\-0.07220403524617151\\2.8424258056227845e-123
Solo\\-0.07801396710919317\\1.2290927739788168e-143
Exatas\\0.12565015202350432\\0.0
QE_I23CAT\\0.11293540847239115\\1.0069949272129123e-299
QE_I08CAT\\-0.07564097434146663\\3.970932917133818e-135
Sustento\\-0.025018447672893344\\3.023684835486549e-16
Sexo\\-0.112819381915011\\4.1497984705238784e-299

In [20]:
X.count

<bound method Series.count of 101462    1
41409     1
92361     0
55562     1
41559     1
         ..
130108    1
130111    0
130113    1
130118    1
130121    1
Name: Sexo, Length: 106672, dtype: int8>

In [22]:
dfAjustado['Publica'].value_counts()

1    64382
0    42290
Name: Publica, dtype: int64