In [1]:
# Biblotecas de manipulação de dados
import numpy as np
import pandas as pd

# Bibliotecas de visualização
import seaborn as sns
import matplotlib.pyplot as plt

# Testes estatísticos
from scipy.stats import ttest_ind

# Bibliotecas Locais
from carga import *
from tratamentos import *
from categorizacao import *

pfEnade = doCarga('microdados_enade_2019.txt')

# TRATAMENTOS 
pfEnade = doIdade(pfEnade)
pfEnade = doNota(pfEnade)
pfEnade = doVazios(pfEnade)
pfEnade = doPublicoPrivada(pfEnade)
pfEnade = doHumanasExatas(pfEnade)
pfEnade = doRenda(pfEnade)

pfEnade = doMigracao(pfEnade)

# TRATAMENTOS - Dicionários
pfEnade = doRenda(pfEnade)
#pfEnade['Renda'].value_counts().sort_index()
# pfEnade.isna().sum()    # Mostra se há vazios
pfEnade = doEscolaridade(pfEnade)

In [2]:
tmp = pfEnade.query('QE_I08 == " "')
tmp.head()

,CO_GRUPO,CO_UF_CURSO,TP_SEXO,NT_GER,QE_I04,QE_I05,QE_I08,QE_I16,QE_I17,Indice,Tempo,Publica,Exatas,Renda,RendaDIC,Migrado,EPai,EscolaridadeDesc
19290,5806,33,M,19.6,D,D,,33,B,19291,2.0,1,0,0,?,0,4,Ensino Médio
97953,23,31,F,42.8,B,B,,31,A,97954,11.0,1,1,0,?,0,2,Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série)
98173,5902,41,M,46.8,F,F,,41,B,98174,2.0,0,0,0,?,0,6,Pós-graduação
321754,6208,50,M,38.9,C,B,,35,A,321755,1.0,1,0,0,?,1,3,Ensino Fundamental: 6º ao 9º ano (5ª a 8ª série)
321860,4003,35,M,29.2,C,D,,43,A,321861,9.0,1,0,0,?,1,3,Ensino Fundamental: 6º ao 9º ano (5ª a 8ª série)

In [3]:
# Renda Familiar X Nota

# groupby_1_var(df=df, groupby_var='QE_I08', key_var = 'NT_GER')
# def groupby_1_var(df, groupby_var, key_var, agg_method=['mean', 'std', 'count']):

tmp = pfEnade.groupby('QE_I08')['NT_GER'].agg(['mean', 'std', 'count']).sort_index()

#tmp.index = dicRenda
tmp.index = pd.Series(tmp.index).replace(doRendaDIC())
tmp.index.name = 'Qual a renda total de sua família, incluindo seus rendimentos?'
tmp

,mean,std,count
"Qual a renda total de sua família, incluindo seus rendimentos?",,,
?,35.316667,9.855438,6
"Até 1,5 salário mínimo (até R$ 1.431,00)",38.952305,16.183434,70974
"De 1,5 a 3 salários mínimos (R$ 1.431,01 a R$ 2.862,00)",40.388231,16.128882,109810
"De 3 a 4,5 salários mínimos (R$ 2.862,01 a R$ 4.293,00)",41.939163,16.592564,79438
"De 4,5 a 6 salários mínimos (R$ 4.293,01 a R$ 5.724,00)",43.400706,16.908141,44614
"De 6 a 10 salários mínimos (R$ 5.724,01 a R$ 9.540,00)",45.390344,17.258026,47357
"De 10 a 30 salários mínimos (R$ 9.540,01 a R$ 28.620,00)",48.725288,17.422918,31149
"Acima de 30 salários mínimos (mais de R$ 28.620,00)",50.567785,17.580247,6320