<a href="https://colab.research.google.com/github/svponte/md/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mineração de Dados**

In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

# Carrega dataframe
pdEnade = pd.read_csv("microdados_enade_2019.txt", sep = ';', low_memory=False)

# Quantas linhas e colunas no dataframe
pdEnade.shape

(130127, 137)

In [2]:
# Qual o nome das variáveis (colunas)
pdEnade.columns

Index(['NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO',
       'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO',
       ...
       'QE_I59', 'QE_I60', 'QE_I61', 'QE_I62', 'QE_I63', 'QE_I64', 'QE_I65',
       'QE_I66', 'QE_I67', 'QE_I68'],
      dtype='object', length=137)

In [3]:

# Visualizar as primeiras linhas do dataframe
pdEnade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Quais os dados faltantes
pdEnade.isnull().sum()

NU_ANO           0
CO_IES           0
CO_CATEGAD       0
CO_ORGACAD       0
CO_GRUPO         0
              ...
QE_I64        5211
QE_I65        5211
QE_I66        5211
QE_I67        5211
QE_I68        5213
Length: 137, dtype: int64

In [6]:
# Sumário estatístico 
pdEnade.describe()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
count,130127.0,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.0,1.301270e+05,130127.000000,130127.000000,...,124917.000000,124917.000000,124916.000000,124915.000000,124914.000000,124916.000000,124916.000000,124916.000000,124916.000000,124914.000000
mean,2019.0,651.845981,8092.331207,10026.156770,1978.701568,19807.223405,1.0,3.436635e+06,34.179778,3.068541,...,5.113371,5.098265,4.910692,4.787712,4.919569,5.345168,5.354630,5.274240,4.936269,4.970468
std,0.0,1018.862493,3906.414128,3.217906,2736.568759,15330.675880,0.0,8.254507e+05,8.254537,0.908658,...,1.328882,1.323329,1.343456,1.456123,1.381967,1.111004,1.562077,1.220731,1.561222,1.427707
min,2019.0,1.000000,93.000000,10019.000000,5.000000,3.000000,1.0,1.100049e+06,11.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2019.0,243.000000,10002.000000,10022.000000,17.000000,9709.000000,1.0,3.106200e+06,31.000000,3.000000,...,5.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,4.000000,4.000000
50%,2019.0,527.000000,10005.000000,10028.000000,23.000000,15475.000000,1.0,3.509502e+06,35.000000,3.000000,...,6.000000,6.000000,5.000000,5.000000,5.000000,6.000000,6.000000,6.000000,5.000000,6.000000
75%,2019.0,634.000000,10007.000000,10028.000000,5710.000000,21599.000000,1.0,4.106902e+06,41.000000,4.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,2019.0,18759.000000,10009.000000,10028.000000,6405.000000,56664.000000,1.0,5.300108e+06,53.000000,5.000000,...,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

In [7]:
# Calculando a idade
pdEnade["Tempo"] = pdEnade["ANO_IN_GRAD"] - pdEnade["ANO_FIM_EM"]
pdEnade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68,Tempo
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0,2
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0,6
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0,4
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0,1
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [8]:
# Prediction Target
y = pdEnade.Tempo
pdEnade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68,Tempo
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0,2
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0,6
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0,4
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0,1
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [9]:
enade_features = ['CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO', 'ANO_FIM_EM', 'ANO_IN_GRAD', 'NT_OBJ_FG', 'NT_DIS_FG', 'QE_I15', 'QE_I17', 'QE_I19', 'QE_I23', 'QE_I25']
X = pdEnade[enade_features]
X.describe()

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,ANO_FIM_EM,ANO_IN_GRAD
count,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000
mean,651.845981,8092.331207,10026.156770,1978.701568,19807.223405,2010.848340,2014.216150
std,1018.862493,3906.414128,3.217906,2736.568759,15330.675880,6.348421,18.917391
min,1.000000,93.000000,10019.000000,5.000000,3.000000,1111.000000,14.000000
25%,243.000000,10002.000000,10022.000000,17.000000,9709.000000,2010.000000,2014.000000
50%,527.000000,10005.000000,10028.000000,23.000000,15475.000000,2012.000000,2015.000000
75%,634.000000,10007.000000,10028.000000,5710.000000,21599.000000,2014.000000,2015.000000
max,18759.000000,10009.000000,10028.000000,6405.000000,56664.000000,2612.000000,2092.000000

In [11]:
# 1. Definir o modelo -- my_model = ModelName()
enade_model = DecisionTreeRegressor(random_state=1) # Cria um novo modelo não treinado

In [ ]:
# 2. Fitting a model -- my_model.fit(data)
enade_model.fit(X, y)

print(X.head())
print(enade_model.predict(X.head()))