<a href="https://colab.research.google.com/github/svponte/md/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mineração de Dados**

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

# Carrega dataframe
pfEnade = pd.read_csv("microdados_enade_2019.txt", sep = ';', low_memory=False)

# Quantas linhas e colunas no dataframe
pfEnade.shape

(130127, 137)

In [5]:
# Remover colunas excedentes 
del pfEnade['NU_ANO']
del pfEnade['CO_MODALIDADE']
del pfEnade['CO_MUNIC_CURSO']
del pfEnade['CO_UF_CURSO']
del pfEnade['CO_REGIAO_CURSO']
del pfEnade['NU_IDADE']
del pfEnade['TP_SEXO']
del pfEnade['CO_TURNO_GRADUACAO']
del pfEnade['QE_I59']
del pfEnade['QE_I60']
del pfEnade['QE_I61']
del pfEnade['QE_I63']
del pfEnade['QE_I64']
del pfEnade['QE_I65']
del pfEnade['QE_I66']
del pfEnade['QE_I67']
del pfEnade['QE_I68']
del pfEnade['TP_INSCRICAO_ADM']
del pfEnade['TP_INSCRICAO']
del pfEnade['NU_ITEM_OFG']
del pfEnade['QE_I50']
del pfEnade['QE_I51']
del pfEnade['QE_I52']
del pfEnade['QE_I53']
del pfEnade['QE_I54']
del pfEnade['QE_I55']
del pfEnade['QE_I56']
del pfEnade['QE_I57']
del pfEnade['QE_I58']
del pfEnade['QE_I62']
del pfEnade['NU_ITEM_OFG_Z']
del pfEnade['NU_ITEM_OFG_X']
del pfEnade['NU_ITEM_OFG_N']
del pfEnade['QE_I40']
del pfEnade['QE_I41']
del pfEnade['QE_I42']
del pfEnade['QE_I43']
del pfEnade['QE_I44']
del pfEnade['QE_I45']
del pfEnade['QE_I46']
del pfEnade['QE_I47']
del pfEnade['QE_I48']
del pfEnade['QE_I49']
del pfEnade['NU_ITEM_OCE']
del pfEnade['NU_ITEM_OCE_Z']
del pfEnade['NU_ITEM_OCE_X']
del pfEnade['NU_ITEM_OCE_N']
del pfEnade['DS_VT_GAB_OFG_ORIG']
del pfEnade['DS_VT_GAB_OFG_FIN']
del pfEnade['DS_VT_GAB_OCE_ORIG']
del pfEnade['DS_VT_GAB_OCE_FIN']
del pfEnade['DS_VT_ESC_OFG']
del pfEnade['DS_VT_ACE_OFG']
del pfEnade['DS_VT_ESC_OCE']
del pfEnade['DS_VT_ACE_OCE']
del pfEnade['TP_PRES']
del pfEnade['TP_PR_GER']
del pfEnade['TP_PR_OB_FG']
del pfEnade['TP_PR_DI_FG']
del pfEnade['QE_I39']
del pfEnade['QE_I38']
del pfEnade['QE_I37']
del pfEnade['QE_I36']
del pfEnade['QE_I35']
del pfEnade['QE_I34']
del pfEnade['QE_I33']
del pfEnade['QE_I32']
del pfEnade['QE_I31']
del pfEnade['QE_I30']
del pfEnade['QE_I29']
del pfEnade['QE_I28']
del pfEnade['QE_I27']
del pfEnade['QE_I26']
del pfEnade['QE_I24']
del pfEnade['QE_I22']
del pfEnade['QE_I21']
del pfEnade['QE_I20']
del pfEnade['QE_I18']
del pfEnade['QE_I16']
del pfEnade['QE_I14']
del pfEnade['QE_I13']
del pfEnade['QE_I12']
del pfEnade['QE_I11']
del pfEnade['QE_I10']
del pfEnade['QE_I09']
del pfEnade['QE_I08']
del pfEnade['QE_I07']
del pfEnade['QE_I06']
del pfEnade['QE_I05']
del pfEnade['QE_I04']
del pfEnade['QE_I03']
del pfEnade['QE_I02']
del pfEnade['QE_I01']
del pfEnade['CO_RS_I9']
del pfEnade['CO_RS_I8']
del pfEnade['CO_RS_I7']
del pfEnade['CO_RS_I6']
del pfEnade['CO_RS_I5']
del pfEnade['CO_RS_I4']
del pfEnade['CO_RS_I3']
del pfEnade['CO_RS_I2']
del pfEnade['CO_RS_I1']
del pfEnade['NT_CE_D3']
del pfEnade['NT_CE_D2']
del pfEnade['NT_DIS_CE']
del pfEnade['TP_PR_OB_CE']
del pfEnade['TP_PR_DI_CE']
del pfEnade['TP_SFG_D1']
del pfEnade['TP_SFG_D2']
del pfEnade['TP_SCE_D1']
del pfEnade['TP_SCE_D2']
del pfEnade['TP_SCE_D3']
del pfEnade['NT_GER']
del pfEnade['NT_FG']
del pfEnade['NT_FG_D1']
del pfEnade['NT_FG_D1_PT']
del pfEnade['NT_FG_D1_CT']
del pfEnade['NT_FG_D2']
del pfEnade['NT_FG_D2_PT']
del pfEnade['NT_FG_D2_CT']
del pfEnade['NT_CE']
del pfEnade['NT_OBJ_CE']
del pfEnade['NT_CE_D1']
del pfEnade['NT_OBJ_FG']
del pfEnade['NT_DIS_FG']

# Qual o nome das variáveis (colunas)
pfEnade.columns

#['CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO', 
# 'ANO_FIM_EM', 'ANO_IN_GRAD', 'NT_OBJ_FG', 'NT_DIS_FG', 
# 'QE_I15', 'QE_I17', 'QE_I19', 'QE_I23', 'QE_I25']

Index(['CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO',
       'ANO_FIM_EM', 'ANO_IN_GRAD', 'QE_I15', 'QE_I17', 'QE_I19', 'QE_I23',
       'QE_I25'],
      dtype='object')

In [6]:

# Visualizar as primeiras linhas do dataframe
pfEnade.head()

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,ANO_FIM_EM,ANO_IN_GRAD,QE_I15,QE_I17,QE_I19,QE_I23,QE_I25
0,1,10002,10028,5710,3,2010,2012,A,B,B,D,E
1,1,10002,10028,5710,3,2009,2015,A,B,A,D,E
2,1,10002,10028,5710,3,2012,2016,D,A,B,B,B
3,1,10002,10028,5710,3,2013,2014,A,B,D,D,C
4,1,10002,10028,5710,3,2012,2013,,,,,

In [7]:
# Quais os dados faltantes
pfEnade.isnull().sum()

CO_IES         0
CO_CATEGAD     0
CO_ORGACAD     0
CO_GRUPO       0
CO_CURSO       0
ANO_FIM_EM     0
ANO_IN_GRAD    0
QE_I15         0
QE_I17         0
QE_I19         0
QE_I23         0
QE_I25         0
dtype: int64

In [8]:
# Sumário estatístico 
pfEnade.describe()

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,ANO_FIM_EM,ANO_IN_GRAD
count,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000
mean,651.845981,8092.331207,10026.156770,1978.701568,19807.223405,2010.848340,2014.216150
std,1018.862493,3906.414128,3.217906,2736.568759,15330.675880,6.348421,18.917391
min,1.000000,93.000000,10019.000000,5.000000,3.000000,1111.000000,14.000000
25%,243.000000,10002.000000,10022.000000,17.000000,9709.000000,2010.000000,2014.000000
50%,527.000000,10005.000000,10028.000000,23.000000,15475.000000,2012.000000,2015.000000
75%,634.000000,10007.000000,10028.000000,5710.000000,21599.000000,2014.000000,2015.000000
max,18759.000000,10009.000000,10028.000000,6405.000000,56664.000000,2612.000000,2092.000000

In [9]:
# Calculando a idade
pfEnade["Tempo"] = pfEnade["ANO_IN_GRAD"] - pfEnade["ANO_FIM_EM"]
pfEnade.head()

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,ANO_FIM_EM,ANO_IN_GRAD,QE_I15,QE_I17,QE_I19,QE_I23,QE_I25,Tempo
0,1,10002,10028,5710,3,2010,2012,A,B,B,D,E,2
1,1,10002,10028,5710,3,2009,2015,A,B,A,D,E,6
2,1,10002,10028,5710,3,2012,2016,D,A,B,B,B,4
3,1,10002,10028,5710,3,2013,2014,A,B,D,D,C,1
4,1,10002,10028,5710,3,2012,2013,,,,,,1

In [10]:
# Prediction Target
y = pfEnade.Tempo
pfEnade.head()

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,ANO_FIM_EM,ANO_IN_GRAD,QE_I15,QE_I17,QE_I19,QE_I23,QE_I25,Tempo
0,1,10002,10028,5710,3,2010,2012,A,B,B,D,E,2
1,1,10002,10028,5710,3,2009,2015,A,B,A,D,E,6
2,1,10002,10028,5710,3,2012,2016,D,A,B,B,B,4
3,1,10002,10028,5710,3,2013,2014,A,B,D,D,C,1
4,1,10002,10028,5710,3,2012,2013,,,,,,1

In [11]:
enade_features = ['CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO', 'CO_CURSO', 'ANO_FIM_EM', 'ANO_IN_GRAD', 'QE_I15', 'QE_I17', 'QE_I19', 'QE_I23', 'QE_I25']
X = pfEnade[enade_features]
X.describe()

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,ANO_FIM_EM,ANO_IN_GRAD
count,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000,130127.000000
mean,651.845981,8092.331207,10026.156770,1978.701568,19807.223405,2010.848340,2014.216150
std,1018.862493,3906.414128,3.217906,2736.568759,15330.675880,6.348421,18.917391
min,1.000000,93.000000,10019.000000,5.000000,3.000000,1111.000000,14.000000
25%,243.000000,10002.000000,10022.000000,17.000000,9709.000000,2010.000000,2014.000000
50%,527.000000,10005.000000,10028.000000,23.000000,15475.000000,2012.000000,2015.000000
75%,634.000000,10007.000000,10028.000000,5710.000000,21599.000000,2014.000000,2015.000000
max,18759.000000,10009.000000,10028.000000,6405.000000,56664.000000,2612.000000,2092.000000

In [12]:
# 1. Definir o modelo -- my_model = ModelName()
enade_model_01 = DecisionTreeRegressor(random_state=1) # Cria um novo modelo não treinado

# 2. Fitting a model -- my_model.fit(data)
enade_model_01.fit(X, y)

print(X.head())
print(enade_model_01.predict(X.head()))

ValueError: could not convert string to float: 'A'